@import './modules/vars';
@import './modules/login';
@import './modules/signup';
@import './modules/userSelections';
@import './modules/home';
@import './modules/sidebar';
@import './modules/header';
@import './modules/nav';
@import './modules/detail';




.wrapper {
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(17,1,36,1) 40%, rgba(34,2,70,1) 100%);

    h1,h2,h3,h4,p,li,a,i{
        color: $white;
    }
    transition: .5s;
    opacity: 1;
}

.kids{
    h1,h2,h3,h4,p,li,a,i{
        color: $black;
    }
    background: $white;
    transition: .5s;
    
}




  




