@import './modules/vars';
@import './modules/home';
@import './modules/sidebar';
@import './modules/header';

body{
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(17,1,36,1) 40%, rgba(34,2,70,1) 100%);
    position: relative;
}

h1,h2,p{
    color: $white;
}

