.modal-content{
    background: $purple;
    margin: auto;
}

.modal-dialog{
    max-width: 90%;
}

.content .cover{
    height: 400px !important;
    object-position: top;
}

video{
    height: 50%;
    width: 100%;
}

.fb-share-button{
    background: #3b5998;
    width: 20%;
    padding: 1rem;

    a{
        color: white;
    }
   
}