.signup-form{
    [type=radio] { 
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
      }

     
      
      
      /* CHECKED STYLES */
      [type=radio]:checked + img {
        background: rgba($color: $purple, $alpha: .8) ;
            border-radius: 100%;
            padding: 1rem;
            transition: .5s;
      }

      .radio-selection{
          border: none;
      }
}